1. phone_number = "+62801-0029-9000"
  
  Gantikan +62 dengan 0 dan hilangkan tanda -.

In [1]:
phone_number = "+62801-0029-9000"
phone_number.replace("+62", "0").replace("-", "")

'080100299000'

2. num_list = [12,14,[16,20,30]]

  Dari list di atas
*   Ambil angka 14
*   Ambil angka 16, 20, 30
*   Ambil angka 20

In [3]:
num_list = [12,14,[16,20,30]]

print(num_list[1])
print(num_list[2][0:])
print(num_list[2][1])

14
[16, 20, 30]
20

3. numbers = [2, 3, 6, 20, 22]

 * Dari list di atas hitung selisih nilai tertinggi dengan nilai terendah
 * Hitung total nilai dari list
 * Ambil value ke 2 hingga ke 4
 * Masukkan value baru ---> angka 50 ke dalam list

In [4]:
numbers = [2, 3, 6, 20, 22]

print(max(numbers) - min(numbers))
print(sum(numbers))
print(numbers[1:4])
numbers.append(50)
numbers

20
53
[3, 6, 20]

[2, 3, 6, 20, 22, 50]

4. Buatlah sebuah dictionary dari key-value berikut

  {'brand': ['Samsung', 'Dell', 'Apple'],

 'stock': ['27', '20', '10'],

 'type': ['PC', 'Laptop', 'Tablet']}

In [5]:
devices = {
    "brand": ["Samsung", "Dell", "Apple"],
    "stock": ["27", "20", "10"],
    "type": ["PC", "Laptop", "Tablet"]
}

devices

{'brand': ['Samsung', 'Dell', 'Apple'],
 'stock': ['27', '20', '10'],
 'type': ['PC', 'Laptop', 'Tablet']}

5. Dari dictionary di bawah
* Ambil semua value
* Ambil value ke 2 dari key Color

In [6]:
fruits_dict = {
    "Fruit": ["Mango", "Banana"],
    "Color": ["Blue", "Red"],
    "Quantity": [10, 25]
}

print(fruits_dict["Quantity"])
print(fruits_dict["Color"][1])

[10, 25]
Red

6. Dari dictionary di bawah
* Update value dari key nama menjadi ['Arya', 'Yusup']
* Update value dari key age, 19 ---> 22

In [7]:
students = {
    "name": ["budi", "jessica"],
    "age": [19, 24]
}

students["name"] = ["arya", "yusup"]
students["age"][0] = 22

students

{'name': ['arya', 'yusup'], 'age': [22, 24]}

7. Dari dictionary di bawah
* Tambahkan Amar ke key name
* Tambahkan key dan value {"gender": ["male", "female"]}

In [8]:
students = {
    "name": ["budi", "jessica"],
    "age": [19, 24]
}

students["name"].append("amar")
students.update({"gender": ["male", "female"]})

students

{'name': ['budi', 'jessica', 'amar'],
 'age': [19, 24],
 'gender': ['male', 'female']}

8. Dari dictionary di bawah
* Hapus Budi key name
* Hapus key age dari dictionary

In [9]:
students = {
    "name": ["budi", "jessica"],
    "age": [19, 24]
}

students["name"].remove("budi")
del students["age"]

students

{'name': ['jessica']}